<html>

<head>
    <title>Eyesite</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        h1.page-heading {
            text-decoration: underline;
        }

        .home-header {
            text-align: center;
            background-color: azure;
        }
    </style>
</head>
	
<body id="myPage">

    <!-- Header -->
    <!-- <div class="jumbotron text-center">
                        <h1>Eyesite</h1>
                        <p>A welcome site for sore eyes</p>
                    </div> -->

   <!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#myPage">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="Mens.html">Mens</a>
					</li>
					<li>
						<a href="Womens.html">Womens</a>
					</li>
					<li>
						<a href="Style.html">Style</a>
					</li>
					<li>
						<a href="Help.html">Help</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="my-account.html">My Account</a>
					</li>
					<li>
						<a href="my-cart.html">My Cart</a>
					</li>

				</ul>
			</div>
			<div class="home-header">
				<a href="Home.html">
					<h1 class="page-heading">Eyesite</h1>
					<p>
						<i>A welcome site for sore eyes</i>
					</p>
				</a>
			</div>
		</div>
	</nav>

	
	
<div><center><h4>My Account</h4></center>
	</div>
    <!-- Account Information -->
	<div class="row"> <center>
    <div class="col-sm-4">
	<a href='AccountDetails.html'>
	 <h4>Account Details</h4>
    </div>
    <div class="col-sm-4">
	<a href='OrderHistory.html'>
	<h4>Your Orders</h4>
    </div>
    <div class="col-sm-4">
	<a href='PaymentInfo.html'>
 <h4>Payment Options</h4>
    </div>
	</center>
  </div>
  </div>
  <br>
   
        

</body>

<footer>
 <p><center>Thank you for choosing Eyesite</center></p>
    </footer>
</html>